{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": ["airbnb", "prettier", "plugin:node/recommended"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "semi": "true"
      }
    ],
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-alert": "off",
    "func-names": "off"
  }
}
