@import './Constants.css';
@import '~react-toastify/dist/ReactToastify.css';
@import './Table.css';
@import './Charts.css';

.roll-up-home {
  width: 100%;
  padding: 5px;
  padding-bottom: 10px;
  flex-grow: 1;
  background-color: inherit;
}

.content-height-without-topbar {
  height: calc(100vh - 108px);
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.roll-up-types {
  display: grid;
  grid-template-columns: auto auto;
}

.no-display {
  display: none !important;
}

.flex-column-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.logo_brand_small {
  width: 48px;
  height: 48px;
}

.MuiChip-label:empty:not(img, picture, svg, input, button) {
  display: none;
}
