@import './Constants.css';
@import '~react-toastify/dist/ReactToastify.css';
@import './Table.css';
@import './Charts.css';
@import './homePage.css';
@import './Login.css';
@import './Keyframes.css';
@import './MediaQueries.css';

.roll-up-home {
  width: 100%;
  padding: 5px;
  padding-bottom: 10px;
  flex-grow: 1;
  background-color: inherit;
}

.content-height-without-topbar {
  height: calc(100vh - 108px);
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.roll-up-types {
  display: grid;
  grid-template-columns: auto auto;
}

.no-display {
  display: none !important;
}

.flex-column-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.logo_brand_small {
  width: 48px;
  height: 48px;
}

.MuiChip-label:empty:not(img, picture, svg, input, button) {
  display: none;
}

.app-title {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #005f83 0%,
    #3eb1c8 39%,
    #1e9a47 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

.scale-transormation {
  transform: scale(1.1) !important;
}

.linear-gradient-bg {
  background: linear-gradient(-225deg, #162328 0%, #2c3638 60%, #0f0f10 100%);
}

.scale-on-hover:hover {
  transform: scale(1.2) !important;
  transition-timing-function: ease;
  z-index: 100 !important;
  backdrop-filter: blur(2px);
}
