:root {
	/* theme */
  --mode: 'light'
  --primary-light: #c5cae9;
  --primary-main: #9575cd;
  --primary-dark: #ba68c8;

  /* table */
  --table-bg-color: #d3d3d3;
  --table-text-color: #1e1e1e;

  /* size */
  --xs: 0px;
  --sm: 600;
  --md: 960;
  --lg: 1200;
  --xl: 1536;

  --toastify-color-success: #2b7a2e;
  --toastify-color-info: #2574aa;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #9f2a1d;
}