:root {
	/* theme */
  --mode: 'light'
  --primary-light: #73ddf6;
  --primary-main: #3EB1C8;
  --primary-dark: #005F83;

  /* table */
  --table-bg-color: #d3d3d3;
  --table-text-color: #1e1e1e;
  --table-child-color: #2b7a2e;
  --table-parent-text-color: #adb0a9;
  --table-parent-color: #cbdeb3;
  --table-error-color: #9f2a1d;

  /* size */
  --xs: 0px;
  --sm: 600;
  --md: 960;
  --lg: 1200;
  --xl: 1536;

  --toastify-color-success: #2b7a2e;
  --toastify-color-info: #3eb1c8;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #9f2a1d;
}