.home-svg {
  transform: translateX(289px);
  width: 400px;
}

.home-p {
  max-width: 330px;
}

@media screen and (max-width: 900px) {
  .home-svg {
    transform: translate(218px, 12px);
  }
  .home-svg svg {
    width: 230px;
    transform: rotate(6deg);
  }
}

@media screen and (max-width: 600px) {
  .home-svg {
    transform: translate(146px, 12px);
    width: 150px;
  }
  .home-svg svg {
    width: 150px;
    transform: rotate(13deg);
  }
}

@media screen and (max-width: 340px) {
  .home-svg {
    display: none;
  }
}
