.login-form {
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 0.7em !important;
  display: grid;
}

#login-fields-container {
  animation: fadeInUp 1s;
}

#login-fields-container button {
  animation: fadeInUp 3s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#login-header {
  animation: fadeInRight 2s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#login-field-icon {
  animation: dropIn 5s !important;
  animation-timing-function: ease !important;
  animation-fill-mode: forwards !important;
}

.icon-1 {
  animation-delay: 200ms !important;
}

.icon-2 {
  animation-delay: 200ms !important;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
