@media screen and (max-width: 900px) {
  .home-svg {
    transform: translate(218px, 12px);
  }
  .home-svg svg {
    width: 230px;
    transform: rotate(6deg);
  }
}

@media screen and (max-width: 600px) {
  .home-svg {
    transform: translate(146px, 12px);
    width: 150px;
  }
  .home-svg svg {
    width: 150px;
    transform: rotate(13deg);
  }
  #rollup {
    width: 80vw;
    height: calc(100vh - 5em);
  }
}

@media screen and (max-width: 340px) {
  .home-svg {
    display: none;
  }
  #rollup {
    width: 80vw;
    height: calc(100vh - 5em);
  }
}
