.link {
  display: flex;
  justify-items: center;
  align-items: center;
  color: var(--primary-main);
}
.link:hover {
  color: var(--primary-light);
}

.k-grid-header {
  background: linear-gradient(0.25turn, #9575cd, #ba68c8);
  background-color: inherit !important;
}

thead[class*='k-grid-header'] th {
  color: var(--table-bg-color);
  font-weight: bold;
}

.table-column {
  background-color: var(--table-bg-color) !important;
  color: var(--table-text-color) !important;
  border-color: var(--primary-main);
  width: inherit;
}

.table-column-default-color {
  background-color: var(--table-bg-color) !important;
}

.edit-table-column-child-color {
  background-color: var(--table-child-color) !important;
}

.edit-table-column-parent-color {
  color: var(--table-parent-text-color) !important;
  background-color: var(--table-parent-color) !important;
}

.edit-table-column-error-color {
  background-color: var(--table-error-color) !important;
}

th,
td {
  border: 1px solid white !important;
  border-collapse: collapse;
}

/* table toolbar css */
.table-toolbar {
  color: var(--primary-main);
  margin-bottom: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 10fr auto;
  width: -webkit-fill-available;
}

/* kendo css changes */
.k-grid {
  background-color: inherit !important;
}

.k-grid td.k-state-selected,
.k-grid td.k-selected,
.k-grid tr.k-state-selected > td,
.k-grid tr.k-selected > td {
  background-color: var(--primary-dark);
}

.k-checkbox:checked,
.k-checkbox.k-checked {
  border-color: var(--primary-main);
  color: white;
  background-color: var(--primary-main);
}

.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: whitesmoke;
}

.action-detail-column {
  width: fit-content !important;
}
